
  /* Bubbles */
  .bubbles {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: bubble 20s ease-in-out infinite;
  }
  
  .bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-delay: 0s;
  }
  
  .bubble:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 20%;
    animation-delay: 2s;
  }
  
  .bubble:nth-child(3) {
    width: 30px;
    height: 30px;
    left: 35%;
    animation-delay: 4s;
    }
    
    .bubble:nth-child(4) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-delay: 6s;
    }
    
    .bubble:nth-child(5) {
    width: 10px;
    height: 10px;
    left: 65%;
    animation-delay: 8s;
    }
    
    .bubble:nth-child(6) {
    width: 50px;
    height: 50px;
    left: 75%;
    animation-delay: 10s;
    }
    
    .bubble:nth-child(7) {
    width: 30px;
    height: 30px;
    left: 90%;
    animation-delay: 12s;
    }
    
    @keyframes bubble {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-100px);
    }
    100% {
    transform: translateY(0);
    }
    }