<!DOCTYPE html>
<html>
<head>
    <title>Battery Information</title>
    <style>
        /* Add your styles here */
    </style>
</head>
<body>
    <div id="battery-info">
        <p>Percentage Charge: <span id="battery-percentage">{{ battery_percentage }}</span></p>
        <p>State of Health: <span id="battery-health">{{ battery_health }}</span></p>
        <p>State of Charging: <span id="charging-state">{{ charging_state }}</span></p>
        <p>Temperature: <span id="battery-temperature">{{ battery_temperature }}</span></p>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var car_id = car_id 
        
            function updateBatteryInfo() {
                $.getJSON('/battery-details/' + car_id , function(data) {
                    $('#battery-percentage').text(data.percentage_charge + '%');
        
                    $('#battery-health').text(data.state_of_health);
        
                    $('#charging-state').text(data.state_of_charging);
        
                    $('#battery-temperature').text(data.temperature + '°C');
                });
        
                setTimeout(updateBatteryInfo, 1000); 
            }
        
            updateBatteryInfo();
        });
    </script>
</body>
</html>
